* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.App {
    height: 100vh;
    background-image: url('https://www.goodfreephotos.com/albums/other-landscapes/mountain-landscape-under-purple-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

/*** footer ***/
nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 2rem;
    margin-left: 250px;
}

/*** main card styles  ***/


.card-container {
    background-color: rgb(254, 254, 255);
    height: 70vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-box-pos {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.each-task {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 70px;
    width: 100%;
    padding: 15px;


}

.checkbox-h2 {
    display: flex;
    gap: 10px;
}

.checkbox-h2 input[type="checkbox"] {
    border-radius: 50%;
}



.verical-line {
    border-right: 1px solid rgb(171, 171, 171);
    width: 120px;
}

.urgency-link {
    display: flex;
    margin-left: 17px;
    margin-top: 2px;
}

.urgency-link a {
    text-decoration: none;
    color: green;
    margin-left: 30px;
    transition: 0.5s;
}

.urgency-link a:hover {
    letter-spacing: 5px;
}

.delete-btn {
    border: none;
    margin-left: 150px;
}

.delete-btn:hover {
    cursor: pointer;
}

.form-container {
    background-color: rgb(254, 254, 255);
    height: 70vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.done-tick {
    margin-left: 40px;
}

/*** Search-bar styles ***/

.searchbar {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 20%;
}

.search-inpt {
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    width: 100%;
    height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.urgent-btn {
    color: rgb(102, 102, 102);
    position: relative;
    right: 14%;
    top: 3.3%;
    background-color: #fff;
    border: none;
    padding: 5.5px 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
}

.urgent-btn:hover {
    cursor: pointer;
    letter-spacing: 2px;

}

/*** form styles ***/
form {
    width: 100%;
    padding: 25px;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.each-label-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 70%;
}

.each-label-input input {
    padding: 10px;
    height: 40px;
    border: none;
    background-color: rgb(236, 235, 241);
    color: rgb(172, 172, 175);
}

.each-label-input label {
    color: rgb(102, 102, 102);
}