* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.App {
    height: 100vh;
    background-image: url('https://www.goodfreephotos.com/albums/other-landscapes/mountain-landscape-under-purple-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

/*** footer ***/
nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 2rem;
    margin-left: 250px;
}

/*** main card styles  ***/

.card-container {
    background-color: rgb(254, 254, 255);
    height: 80vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
}

.main-box-pos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.each-task {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 70%;
    padding: 15px;


}

.checkbox-h2 {
    display: flex;
}

.verical-line {
    border-right: 1px solid rgb(171, 171, 171);
    width: 120px;
}

.urgency-link {
    display: flex;
    margin-left: 17px;
    margin-top: 2px;
}

.urgency-link a {
    text-decoration: none;
    color: green;
    margin-left: 30px;
    transition: 0.5s;
}

.urgency-link a:hover {
    letter-spacing: 5px;
}

.delete-btn {
    border: none;
    margin-left: 150px;
}

.delete-btn:hover {
    cursor: pointer;
}